.graph-page-container {
    margin: 1rem; /* Add top and bottom margin */
    background-color: #ffffff; /* White background for the "card" */
    border-radius: 12px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.05); /* Soft shadow */
}

.graph-title {
    text-align: center;
    color: #2a3f5f;
    font-size: 2.5em;
    font-weight: 300;
    letter-spacing: -1px;
    margin: 10px auto 10px; /* Control top/bottom margin and center block */
    padding: 0; /* Remove padding */
}

.graph-wrapper {
    border: 1px solid #eef2f7; /* Very light border */
    border-radius: 8px;
    overflow: hidden;
    position: relative; /* For positioning extra elements */
}
